<%- include('../includes/admin-header.ejs') %>
</head>

<body>
    <%- include('../includes/admin-navbar.ejs') %>

  <main>
    <div id="Blue"></div>
    <div id="Yellow"></div>
    <div id="Green"></div>
    <div id="Red"></div>
  </main>
    <%- include('../includes/admin-footer.ejs') %>
</body>

</html>