<%- include('../includes/admin-header.ejs') %>
<style>
    body{
        /* background-image: url('/images/backgroundImg.jpg'); */
        background-color:rgb(12, 23, 51) ;
    }
    h1,h4{
        text-align: center;
    }
    main{
        display: flexbox;
        background-image: url('/images/backgroundImg.jpg');
        color: white;
        height: 600px;
        display: flexbox;
        max-width: 100%;

    }
    .input-box{
        /* margin: 20px 10px 20px 10px; */
        margin: auto;
        width: 80%;
        padding-bottom: 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
    }
    form{
        margin: auto;
        width:40%;
        border: 2px solid white;
        color: white;
        background-color: rgb(12, 23, 51);
        border-radius: 30px;
        box-shadow: inset;
        opacity: 50%;
        display: flexbox;
        height: 80%;
    }

#Email{
    width: 100%;
    border: none;
    border-radius: 9px;
    height: 40px;
    background-color: rgb(2, 6, 16);
    color: white;
}

label{
    color: white;
    text-align: left;
    font-size: 20px;
    /* margin-bottom: 50px; */
}


.btn{
    width: 70%;
    height: 30px;
    /* margin: 50px 20px 50px 60px; */
    background-color: rgb(2, 6, 16);
    justify-self: center;
    border-radius: 10px;
    font-size: medium;
    font-weight: 500px;
    color: white;
}
.btn:hover{
    background-image: linear-gradient(rgb(4, 4, 13), black);
    color: white;
}
</style>
</head>
<body>
    <main>
        <h1>Cash Grab</h1>
        <form action="/admin-otp" method="post">
            <h4>Admin::Enter OTP</h4>
            <div class="input-box">
                <label for="Email">OTP</label>
                <input type="tel" name="OTP" id="Email">
            </div>
            <div class="input-box">
                <button type="submit" class="btn mx-auto">Confirm</button>
                <input type="button" value="Resend OTP" class="btn my-3 mx-auto">
            </div>
            
            
        </form>
       
    </main>
    <%- include('../includes/admin-footer.ejs') %>
</body>
</html>