<%- include('../includes/header.ejs') %>
<style>
     body{
        background-image: url('/images/bg7.jpg');
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       background-attachment: fixed;
       width: 100%;
    }
    h1,h4{
        text-align: center;
    }
    main{
        color: white;
        width: 100%;
    }
    .input-box{
        margin: auto;
        width: 80%;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    form{
        margin: auto;
        width:40%;
        color: black;
        margin-top: 10px;
        background-color:white;
        border-radius:12px;
        padding: 10px;
        opacity: 0.7;
        display: flexbox;
    }
    .Email{
            width: 100%;
            border: none;
            height: 40px;
            color: black;
            border-bottom: 1px outset black;
             background-color: transparent;
            outline: none;
        }
        .Password{
            width: 100%;
            border: none;
            border-bottom: 1px solid black;
            background-color: transparent;
            outline: none;
            /* height: 40px; */
            color: black;
        }

label{
    color: black;
    text-align: left;
    font-size: 16px;
    margin-bottom: 10px;
}



@media only screen and (max-width:768px) {
    body{
        max-height: fit-content;
    }
    main{
        display: block;
        width: 100%;
        height: 80%;
        margin-bottom: 30px;
        display: block;
         }
         form{
            margin-top: 10px;
            width: 80%;
            padding-top: 10px;
            padding-bottom: 50px;
         }
}
</style>

<body>
    <main>
        <h1>Cash Grab Admin</h1>
        <form action="/admin-sign-up" method="post" class="text-danger" enctype="multipart/form-data">
            
            <div class="input-box">
                <label for="Name">Name</label>
                <input type="text" name="Name" id="Name" class="Email" placeholder="Enter name...">
            </div>

            <div class="input-box">
                <label for="Email">Email</label>
                <input type="text" name="Email" id="Email" class="Email" placeholder="Enter email">
            </div>
            
            <div class="input-box">
                <label for="Phone">Phone Number</label>
                <input type="tel" name="Phone" id="Phone" class="Email" placeholder="Enter phone number">
            </div>

            <div class="input-box">
                <label for="Email">Password</label> 
                <input type="password" name="Password" id="Password" class="Password"  placeholder="Enter password">
            </div>
            
            <div class="input-box">
                <label for="ID">ID Card</label>
                <input type="file" name="ID" id="ID" class="Email" placeholder="Nationaal ID-card, Intl Passport ..." accept="application/vnd">
            </div>

            
            <div class="input-box">
                <label for="Picture">Passport</label>
                <input type="file" name="Picture" id="Picture" class="Email" placeholder="Nationaal ID-card, Intl Passport ...">
            </div>

            
    <div class="input-box">
        <button type="submit" class="btn w-50  my-3 bg-primary text-light fa-bounce">Add Admin</button>
    </div>
          
        </form>
    </main>    
    <%- include('../includes/footer.ejs') %>
</body>
</html>