
<style>
/* Navigation Bar */

.navbar{
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  margin:10px, 0, 20px, 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: rgb(12, 23, 51);
}

/* Navigation List */
#list{
  /* display: none; */
  display: flex;
  justify-content: space-evenly;
}

#list.active{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#list li {
  text-align: center;
  margin: 10px;
  list-style-type: none;
}

#list a {
  text-decoration: none;
  color: rgb(12, 23, 51);
  padding: 10px;
  border-radius: 5px;
}

#list a:hover {
  background-color: white;
  color: rgb(12, 23, 51);
}

/* Navigation Toggle Button */
.navbar-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: white;
  margin: 4px 0;
}
h1{
        color: white;
        text-shadow: 9px 4px 6px white;
        /* text-align: center; */
    }
@media only screen and (min-width: 768px) {
  #list {
    display: flex;
    /* justify-content: space-evenly; */
    width: auto;
    flex-wrap: wrap;
  }
  .navbar-toggle {
    display: none;
    /* float: none;
    display: block;
    text-align: left; */
  }


}

</style>
</head>
<!-- <marquee behavior="sliding" scrollamount="10" direction="reverse"><h1>Cash Grab</h1></marquee> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Cash Grab</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul id="list" class="navbar-nav text">
        <li class="nav-item mx-5"> <a href="/" class="nav-link" id="Home">Home</a></li>
        <% if(isLoggedIn){ %>
          <li class="nav-item mx-5"> <a href="/user-dashboard" class="nav-link" id="Dashboard">Dashboard</a></li>
      <%  } %>
        
        <% if(!isLoggedIn){ %>
          <li class="nav-item mx-5"> <a href="/sign-In" class="nav-link" id="Login">Login</a></li>
          <li class="nav-item mx-5"> <a href="/sign-Up" class="nav-link active">Create Account</a></li>
     <%   } %>
      
        <li class="nav-item mx-5"> <a href="/" class="nav-link">Contact Us</a></li>
        <% if(isLoggedIn){ %>
          <li class="nav-item mx-5 "  id="Improve"> <a href="/update-profile" class="nav-link ">Improve Profile</a></li>
          <li class="nav-item mx-5 "  id="Improve"> <a href="/pay-loan" class="nav-link ">Pay Loans</a></li>          
          <li class="nav-item mx-5 " > <a href="/sign-out" class="nav-link ">Logout</a></li>
      <%  }  %> 
       
    </ul>
    </div>
  </div>
</nav>
<script src="/bootstrap/bootstrap.bundle.min.js"></script>