
<style>
/* Navigation Bar */
.navbar{
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  margin:10px, 0, 20px, 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(12, 23, 51);
  color: white;
}

/* Navigation List */
#list{
  /* display: none; */
  display: flex;
  justify-content: space-evenly;
}

#list.active{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#list li {
  text-align: center;
  margin: 10px;
  list-style-type: none;
}

#list a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

#list a:hover {
  background-color: white;
  color: rgb(12, 23, 51);
}

/* Navigation Toggle Button */
.navbar-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: white;
  margin: 4px 0;
}
h1{
        color: white;
        text-shadow: 9px 4px 6px white;
        /* text-align: center; */
    }
@media only screen and (min-width: 768px) {
  #list {
    display: flex;
    /* justify-content: space-evenly; */
    width: auto;
    flex-wrap: wrap;
  }
  .navbar-toggle {
    display: none;
    /* float: none;
    display: block;
    text-align: left; */
  }

  /* #list.responsive {position: relative;} */
  /* #list.responsive a.icon-bar { */
    /* position: absolute; */
    /* right: 0;
    top: 0; */
  /* } */
  /* #list.responsive a { */
    /* float: none;
    display: none; */
    /* text-align: left; */
  /* } */

}

</style>
</head>
<marquee behavior="sliding" scrollamount="10" direction="reverse"><h1>Cash Grab</h1></marquee>
<nav id="navbar">
    <div class="navbar">
        <button class="navbar-toggle" type="button" onclick="myNavBar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    <ul id="list">
        <li class="nav-list"> <a href="/" class="nav-list">Home</a></li>
        <% if(isLoggedIn){ %>
          <li class="nav-list"> <a href="/" class="nav-list">Dashboard</a></li>
      <%  } %>
        
        <% if(!isLoggedIn){ %>
          <li class="nav-list"> <a href="/sign-In" class="nav-list">Login</a></li>
          <li class="active"> <a href="/sign-Up" class="active">Create Account</a></li>
     <%   } %>
      
        <li class="nav-list"> <a href="/" class="nav-list">Contact Us</a></li>
        <% if(isLoggedIn){ %>
          <li class="nav-list ms-5" style="float: right;"> <a href="/update-profile" class="nav-list ms-5">Improve Profile</a></li>
          <li class="nav-list ms-5" style="float: right;"> <a href="/sign-out" class="nav-list ms-5">Logout</a></li>
      <%  }  %> 
       
    </ul>
</nav>
<script>
  function myNavBar(){
    var x=document.getElementById('list');
    if(x.id==="list"){
      x.id += "responsive";
    }
    else{
      x.id="list"
    }
  }
</script>