<%- include ('includes/header.ejs') %>
</head>
<body>
<main id="main-page">
    <%- include ('includes/navbar.ejs') %>
    <h1>Cash Grab</h1>
</main>    

<%- include ('includes/footer.ejs') %>
</body>
</html>