<%- include('includes/header.ejs') %>
<main>
    <h1>Cash Grab</h1>
    <form action="/sign-in" method="post">
        <h4>Sign In</h4>
        <div class="input-box">
            <label for="Email">Email</label>
            <input type="text" name="Email" id="Email">
        </div>

        <div class="input-box">
            <label for="Email">Password</label>
            <input type="text" name="Password" id="Password">
        </div>

        <button type="submit">Sign Up</button>
    </form>
</main>