<%- include('../includes/header.ejs') %>
<style>
    body{
        background-image: url('/images/bg7.jpg');
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       background-attachment: fixed;
       width: 100%;
    }
    h1,h4{
        text-align: center;
    }
    main{
        color: white;
        width: 100%;
        
    }
    .input-box{
        margin: auto;
        width: 80%;
        padding-bottom: 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
    }
    form{
        margin: auto;
        width:40%;
        color: black;
        margin-top: 10px;
        background-color:white;
        border-radius:12px;
        padding: 15px;
        opacity: 0.7;
        display: flexbox;
    }

.Email{
    width: 100%;
            border: none;
            height: 40px;
            color: black;
            border-bottom: 1px outset black;
             background-color: transparent;
            outline: none;
}
.Password{
    width: 100%;
    border: none;
   border-bottom: 1px solid black;
   background-color: transparent;
    outline: none;
    height: 40px;
    color: black;
}
label{
    color: black;
    text-align: left;
    font-size: 20px;
}

section{
       /* margin: auto; */
        /* width:40%; */
        border: 2px solid white;
        color: white;
       
        border-radius: 30px;
        box-shadow: inset;
       
        /* display: flex; */

        padding: 5px;
}
.holder{
    /* max-width: 100%; */
    width: 100%;
    display: flex;
    align-items: center;
}
#improve{
    background-color: white;
  color: rgb(12, 23, 51);
}
@media only screen and(max-width:768px){
    body{
        max-height: fit-content;
    }
    main{
        display: block;
        width: 100%;
        height: 80%;
        margin-bottom: 30px;
        display: block;
         }
         form{
            margin-top: 10px;
            width: 80%;
            padding-top: 10px;
            padding-bottom: 50px;
         }
}

</style>

<body>
    <div>
        <%- include('../includes/navbar.ejs') %>
      </div> 
    <main>
      
      <div class="holder ps-5 container">
        <form action="/update-profile" id="form" method="post" class="text-danger row w-100 " enctype="multipart/form-data">
            
            <section class="col-6 px-3">
                <div class="input-box">
                    <label for="Name">Name</label><br>
                    <input type="text" name="Name" id="Name" class="Email" placeholder="Enter name...">
                </div>
    
                
                <div class="input-box">
                    <label for="Phone">Phone Number</label><br>
                    <input type="tel" name="Phone" id="Phone" class="Email" placeholder="Enter phone number">
                </div>
    
                <div class="input-box">
                    <label for="Bvn">BVN</label> <br>
                    <input type="text" name="Bvn" id="Bvn" class="Password"  placeholder="Enter BVN">
                </div>

                <div class="input-box">
                    <label for="Bank">Bank</label><br>
                    <select name="Bank" id="Bank" class="Email">
                        <option value="Access Bank">Access Bank</option>
                        <option value="GT Bank">GT Bank</option>
                        <option value="First Bank">First Bank</option>
                        <option value="Polaris Bank">Polaris Bank</option>
                        <option value="Jaiz Bank">Jaiz Bank</option>
                        <option value="Ecobank">Ecobank</option>
                    </select>
                </div>

                <div class="input-box">
                    <label for="Monthly Income">Salary</label> <br>
                    <input type="number" name="Salary" id="Salary" class="Password"  placeholder="Enter monthly income">
                </div>
            </section>
          

            <section class="col-6">
                <div class="input-box">
                    <label for="Account">Account Number</label> <br>
                    <input type="number" name="Account" id="Account" class="Password"  placeholder="Enter Account Number">
                </div>
                
                <div class="input-box">
                    <label for="Adress">Address</label> <br>
                    <input type="text" name="Address" id="Address" class="Password"  placeholder="Address">
                </div>
                <div class="input-box">
                    <label for="ID">ID Card</label><br>
                    <input type="file" name="ID" id="ID" class="Email" placeholder="Nationaal ID-card, Intl Passport ...">
                </div>

                <div class="input-box">
                    <label for="BankStatement">Bank Statement</label><br>
                    <input type="file" name="BankStatement" id="BankStatement" class="Email" placeholder="Bank Statement...">
                </div>
    
                
                <div class="input-box">
                    <label for="Picture">Passport Photograph</label><br>
                    <input type="file" name="Picture" id="Picture" class="Email" placeholder="Nationaal ID-card, Intl Passport ...">
                </div>
    
            </section>
            
    <div class="my-4 text-center">
        <button type="submit" class="btn w-25  my-3 bg-primary text-light fa-fade">Submit</button>
    </div>
          
        </form>
      </div>  
      </main>  
    <%- include('../includes/footer.ejs') %>
</body>
</html>